layout {

    focus-ring {
        active-color   "#9bd67f"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9bd67f"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9bd67f"
        inactive-color "#1e5108"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9bd67f80"
    }
}

recent-windows {
    highlight {
        active-color "#9bd67f"
        urgent-color "#ffb4ab"
    }
}
