layout {

    focus-ring {
        active-color   "#b4d269"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b4d269"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b4d269"
        inactive-color "#3a4d00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b4d26980"
    }
}

recent-windows {
    highlight {
        active-color "#b4d269"
        urgent-color "#ffb4ab"
    }
}
